openapi: 3.0.3
info:
  title: Blink Server-Side Authentication API
  version: '1.0'
  description: Server-side web APIs a publisher integrates on the back end of their web application to support "Login with Blink" and OAuth2. Transcribed faithfully from the published Blink documentation at https://docs.blink.net/docs/server-side-api/api-overview.html — Blink does not publish a machine-readable specification of its own. Paths, methods, request bodies, response shapes and error codes are exactly as documented; nothing has been invented. Field descriptions that the docs leave implicit are omitted rather than guessed.
  contact:
    name: Blink Integration
    email: integration@blink.net
    url: https://docs.blink.net/
  x-provenance:
    generated: '2026-07-20'
    method: generated
    source: https://docs.blink.net/docs/server-side-api/api-overview.html
servers:
- url: https://api.blink.net
  description: Production
- url: https://api.test.blink.net
  description: Test
tags:
- name: Authentication
  description: Client account login and bearer token issuance.
paths:
  /users/login/:
    post:
      operationId: getAuthToken
      tags:
      - Authentication
      summary: Get a server-side login token
      description: Authenticates the application using the client credentials and returns a valid login token useful for making server-side API calls requiring authorization.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: A valid login token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginToken'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    LoginRequest:
      type: object
      required:
      - email
      - password
      properties:
        email:
          type: string
          format: email
          description: Email address from your client credentials.
        password:
          type: string
          format: password
          description: Password from your client credentials.
    Error:
      type: object
      properties:
        code:
          type: integer
          description: Error code.
        message:
          type: string
          description: Error message.
    LoginToken:
      type: object
      properties:
        key:
          type: string
          description: A valid login token.
  securitySchemes:
    loginToken:
      type: http
      scheme: bearer
      description: 'Bearer token obtained from POST /users/login/. Sent as `Authorization: Bearer <AUTH_TOKEN>`.'
