openapi: 3.2.0
info:
  title: Blink Server-Side OAuth Applications API
  version: '1.0'
  description: Server-side web APIs a publisher integrates on the back end of their web application to support "Login with Blink" and OAuth2.
  contact:
    name: Blink Integration
    email: integration@blink.net
    url: https://docs.blink.net/
  x-provenance:
    generated: '2026-07-20'
    method: generated
    source: https://docs.blink.net/docs/server-side-api/api-overview.html
servers:
- url: https://api.blink.net
  description: Production
- url: https://api.test.blink.net
  description: Test
tags:
- name: OAuth Applications
  description: Registration and retrieval of OAuth application credentials.
paths:
  /oauth/applications/register/:
    post:
      operationId: registerOAuthApplication
      tags:
      - OAuth Applications
      summary: Register an OAuth application
      description: Registers a new OAuth application to your client account.
      security:
      - loginToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterApplicationRequest'
      responses:
        '200':
          description: The registered OAuth application config.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthApplicationConfig'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /oauth/applications/:
    get:
      operationId: getOAuthApplications
      tags:
      - OAuth Applications
      summary: List OAuth applications
      description: Retrieves the list of all the OAuth applications registered to your client account.
      security:
      - loginToken: []
      responses:
        '200':
          description: An array of OAuth application configs.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OAuthApplicationConfig'
components:
  schemas:
    OAuthApplicationConfig:
      type: object
      properties:
        clientId:
          type: string
          description: OAuth client id.
        clientSecret:
          type: string
          description: OAuth client secret.
        redirectUris:
          type: string
          description: A space separated string list of all your OAuth redirect URIs.
    RegisterApplicationRequest:
      type: object
      required:
      - name
      - redirectUris
      properties:
        name:
          type: string
          description: Your OAuth application name.
        redirectUris:
          type: string
          description: A space separated string list of all your OAuth redirect URIs.
    Error:
      type: object
      properties:
        code:
          type: integer
          description: Error code.
        message:
          type: string
          description: Error message.
  securitySchemes:
    loginToken:
      type: http
      scheme: bearer
      description: 'Bearer token obtained from POST /users/login/. Sent as `Authorization: Bearer <AUTH_TOKEN>`.'
