openapi: 3.0.3
info:
  title: Blink Server-Side API
  version: '1.0'
  description: >-
    Server-side web APIs a publisher integrates on the back end of their web
    application to support "Login with Blink" and OAuth2. Transcribed faithfully
    from the published Blink documentation at
    https://docs.blink.net/docs/server-side-api/api-overview.html — Blink does
    not publish a machine-readable specification of its own. Paths, methods,
    request bodies, response shapes and error codes are exactly as documented;
    nothing has been invented. Field descriptions that the docs leave implicit
    are omitted rather than guessed.
  contact:
    name: Blink Integration
    email: integration@blink.net
    url: https://docs.blink.net/
  x-provenance:
    generated: '2026-07-20'
    method: generated
    source: https://docs.blink.net/docs/server-side-api/api-overview.html
servers:
  - url: https://api.blink.net
    description: Production
  - url: https://api.test.blink.net
    description: Test
tags:
  - name: Authentication
    description: Client account login and bearer token issuance.
  - name: OAuth Applications
    description: Registration and retrieval of OAuth application credentials.
  - name: Users
    description: Blink user profile exchange.
paths:
  /users/login/:
    post:
      operationId: getAuthToken
      tags:
        - Authentication
      summary: Get a server-side login token
      description: >-
        Authenticates the application using the client credentials and returns a
        valid login token useful for making server-side API calls requiring
        authorization.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: A valid login token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginToken'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /oauth/applications/register/:
    post:
      operationId: registerOAuthApplication
      tags:
        - OAuth Applications
      summary: Register an OAuth application
      description: Registers a new OAuth application to your client account.
      security:
        - loginToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterApplicationRequest'
      responses:
        '200':
          description: The registered OAuth application config.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthApplicationConfig'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /oauth/applications/:
    get:
      operationId: getOAuthApplications
      tags:
        - OAuth Applications
      summary: List OAuth applications
      description: >-
        Retrieves the list of all the OAuth applications registered to your
        client account.
      security:
        - loginToken: []
      responses:
        '200':
          description: An array of OAuth application configs.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OAuthApplicationConfig'
  /oauth/access_token/:
    post:
      operationId: getUserProfile
      tags:
        - Users
      summary: Get the Blink user profile
      description: >-
        Gets the Blink user profile, based on a valid authorization code that
        was previously obtained in a web application using Login with Blink.
      security:
        - loginToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessTokenRequest'
      responses:
        '200':
          description: The Blink user profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  securitySchemes:
    loginToken:
      type: http
      scheme: bearer
      description: >-
        Bearer token obtained from POST /users/login/. Sent as
        `Authorization: Bearer <AUTH_TOKEN>`.
  schemas:
    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          description: Email address from your client credentials.
        password:
          type: string
          format: password
          description: Password from your client credentials.
    LoginToken:
      type: object
      properties:
        key:
          type: string
          description: A valid login token.
    RegisterApplicationRequest:
      type: object
      required:
        - name
        - redirectUris
      properties:
        name:
          type: string
          description: Your OAuth application name.
        redirectUris:
          type: string
          description: A space separated string list of all your OAuth redirect URIs.
    OAuthApplicationConfig:
      type: object
      properties:
        clientId:
          type: string
          description: OAuth client id.
        clientSecret:
          type: string
          description: OAuth client secret.
        redirectUris:
          type: string
          description: A space separated string list of all your OAuth redirect URIs.
    AccessTokenRequest:
      type: object
      required:
        - client_id
        - client_secret
        - code
      properties:
        client_id:
          type: string
          description: OAuth client id.
        client_secret:
          type: string
          description: OAuth client secret.
        code:
          type: string
          description: Authorization code obtained client-side via blinkSDK.getAuthorizationCode().
        grant_type:
          type: string
          description: Optional. Accepts only "authorization_code".
          enum:
            - authorization_code
        redirect_uri:
          type: string
          description: Optional. One of your OAuth application's redirect URIs.
    UserProfileResponse:
      type: object
      properties:
        user:
          type: object
          properties:
            email:
              type: string
              format: email
              description: Blink user's email address.
    Error:
      type: object
      properties:
        code:
          type: integer
          description: Error code.
        message:
          type: string
          description: Error message.
